<form asp-area="Inventaire" asp-controller="Materiel" asp-action="CreateFourniture" method="get">
    <p>Ajouter un nouveau fourniture</p>
    <input type="text" name="nom" placeholder="Le nom du fourniture" />
    <input type="submit" value="Ajouter" />
</form>

<br />

<form asp-area="Inventaire" asp-controller="Materiel" asp-action="newLocalisation" method="get">
    <p>Ajouter un nouveau fourniture</p>
    <input type="text" name="nom" placeholder="Le nom du local" />
    <input type="submit" value="Ajouter" />
</form>

<br />

