<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Centre.Excellence.Formation</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-dark fixed-top text-light bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="dashboard.htm#">C.E Inventaire</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="dashboard.htm#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid" style="margin-top:30px;">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-dark sidebar" id="cache">
                <div class="sidebar-sticky">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <a class="d-flex align-items-center text-muted" href="dashboard.htm#">
                            <span data-feather="plus-circle"></span>
                            Accueil
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a asp-area="Inventaire" class="nav-link text-light" asp-controller="Materiel" asp-action="Index">
                                <span data-feather="file-text"></span>
                                Materiel
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Inventaire" class="nav-link text-light" asp-controller="Mobilier" asp-action="Index">
                                <span data-feather="file-text"></span>
                                Mobilier
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Inventaire" class="nav-link text-light" asp-controller="Diagnostique" asp-action="NewDiag">
                                <span data-feather="file-text"></span>
                                Diagnostique
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="Inventaire" class="nav-link text-light" asp-controller="Local_Fourniture" asp-action="Index">
                                <span data-feather="file-text"></span>
                                Local & Fourniture
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container " style="margin-left:10px;margin-top:10px; margin-bottom:320px;">
                <main role="main" class="pb-2">
                    @RenderBody()
                </main>
            </div>
            <footer class="border-top footer text-muted">
                <div class="container">
                    &copy; 2020 - Centre.Excellence.Formation - Inventaire
                </div>
            </footer>
        </div>
    </div>



    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
