@model Mobilier

@{
    ViewData["Title"] = "Mobilier";
}

<section class="get_in_touch">
    <div class="container">

        <h1 class="title">Modifier mobilier</h1>

        <blockquote class="blockquote text-center">
            <a asp-area="Inventaire" asp-controller="Mobilier" class="btn btn-outline-primary" asp-action="Index">Retour aux mobiliers</a>
        </blockquote>
        <br /><br />

        <form asp-area="Inventaire" asp-controller="Mobilier" asp-action="Update" asp-route-id="@Model.ID" method="post">
            <div class="contact-form row">

                <div class="form-field col-lg-12">
                    <input type="text" asp-for="Description" class="input-text">
                    <label asp-for="Description" class="label">Description <span asp-validation-for="Description" class="text-danger"></span></label>
                </div>

                <div class="form-field col-lg-6">
                    <select class="input-text" asp-for="Etat" asp-items="Html.GetEnumSelectList<Etat>()">
                        <option value=""></option>
                    </select>
                    <label asp-for="Etat" class="label">Etat <span asp-validation-for="Etat" class="text-danger"></span></label>
                </div>

                <div class="form-field col-lg-6">
                    <select class="input-text" asp-for="Localisation" asp-items="@ViewBag.Localisations">
                        <option value=""></option>
                    </select>
                    <label class="label">Local <span asp-validation-for="Quantite" class="text-danger"></span></label>
                </div>


                <div class="form-field col-lg-6">
                    <input type="text" class="input-text" asp-for="Quantite">
                    <label asp-for="Quantite" class="label">Quantité <span asp-validation-for="Quantite" class="text-danger"></span></label>

                </div>

                <div class="form-field col-lg-6">
                    <input type="submit" name="" class="submit-btn" value="Enregistrer">
                </div>
            </div>
        </form>
    </div>
</section>
