
<link rel="stylesheet" href="~/css/Form_Login.css" />

<section class="get_in_touch_danger">
    <div class="container text-center">
        <h4 class="title_red">Vous n'avez pas droit à cette section du site</h4>
        <a asp-action="AccueilCI" asp-controller="Account" class="btn btn-outline-primary">OK</a>
    </div>
</section>